<header *ngIf="isLogged">
  <nav>
    <div id="logo"><img src="assets/images/logo-dark.png" alt="" /></div>
    <div id="nav-links">
      <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="nav-link">Dashboard</a>
      <a [routerLink]="['/trails']" [routerLinkActive]="['active']" class="nav-link">Trails</a>
      <a [routerLink]="['/challenges']" [routerLinkActive]="['active']" class="nav-link">Challenges</a>
      <div class="dropdown">
        <button class="dropbtn nav-link">
          User
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/profile']" [routerLinkActive]="['active']">Profile</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>