<header *ngIf="isLogged">
  <nav>
    <div id="logo">
      <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="nav-link">
        <img src="assets/images/logo-dark.png" alt="" />
      </a>
    </div>
    <div id="nav-links">
      <a [routerLink]="['/trails']" [routerLinkActive]="['active']" class="nav-link">Trails</a>
      <a [routerLink]="['/users']" [routerLinkActive]="['active']" class="nav-link">Users</a>
      <div class="dropdown">
        <button class="dropbtn nav-link">
          <div class="rounded-icon"><i class="fa fa-user"></i></div>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/trail/create']" [routerLinkActive]="['active']">Create Trail</a>
          <a [routerLink]="['/profile', userId]" [routerLinkActive]="['active']">Profile</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>