@import "src/assets/scss/index.scss";

.container {
  padding-bottom: 6rem;
}

.card {
  margin-bottom: 1rem !important;
  .card-header {
    p {
      margin: 0;
    }
    background-color: $gray-100 !important;
  }
}
