<div id="trail-list" *ngIf="trails.length > 0; else loading">
  <div class="card trail" *ngFor="let trail of trails">
    <div class="card-header">
      <h6>{{ trail.name }}</h6>
      <div class="user">
        <ng-container *ngIf="trail.trailId && trail.user?.name === username; else trailCreator">
          <div class="buttons">
            <a [routerLink]="['/trail/edit/', trail.trailId]" class="btn btn-warning">
              <i class="fas fa-edit"></i>
            </a>
            <button class="btn btn-danger" (click)="deleteTrail(trail.trailId)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </ng-container>
        <ng-template #trailCreator>
          <small *ngIf="trail.user">
            <i class="far fa-user"></i>{{ trail.user.name }}
          </small>
        </ng-template>
      </div>
    </div>
    <div class="card-body">
      <div class="trail-info">
        <p>
          <i class="fas fa-mountain"></i>{{ trail.activity && trail.activity.activity | titlecase }}
        </p>
        <p>
          <i class="fas fa-globe-africa"></i>{{ trail.province }},
          {{ trail.city }}
        </p>
      </div>
      <p class="trail-description">
        {{ trail.description }}
      </p>
    </div>
    <div class="card-footer">
      <div class="card-links">
        <a [routerLink]="['/trail', trail.trailId]">see more</a>
        <a>comments</a>
      </div>
      <div class="created-at">
        <small *ngIf="trail && trail.createdAt">
          {{ trail.createdAt | amTimeAgo }}
        </small>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="container">
    <p class="text-center">Oops... We didn't find any trail!</p>
  </div>
</ng-template>