@import "../../../assets/scss/index.scss";

.container {
  padding-bottom: 6rem;
}
.form {
  background-color: $white;

  .three-fields {
    display: block;
    width: 100%;
  }

  .form-control {
    margin-bottom: 2em;
    position: relative;

    label,
    input[type="text"],
    input[type="number"] {
      font-size: 16px;
      display: block;
      color: $green-6;
    }
    label {
      margin-bottom: 5px;
      text-transform: capitalize;
      text-align: left;
    }
    small {
      color: $red;
    }

    .ng-touched.ng-invalid {
      &,
      ~ label {
        color: $red;
        border-color: $red;
      }
    }

    input[type="text"],
    input[type="number"],
    select {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 0.15em solid $green-5;
      padding: 8px 0 3px 0;
      background: transparent;
      ~ label {
        position: absolute;
        top: -3px;
        left: 0;
        padding: 10px 0;
        transition: 0.5s;
      }
      &:focus,
      &:valid {
        ~ label {
          top: -25px;
          font-size: 12px;
        }
      }
    }

    option {
      background-color: $green-1;
      font-size: 1rem;
    }
    input[type="range"] {
      width: 100%;
    }
  }
 
}

@include media("sm") {
  .form {
    padding: 3rem;

    input[type="range"] {
      width: 40% !important;
    }
  }
}

@include media("md") {
  .form {
    .form-group {
      @include flex(space-between);
      .form-control {
        width: 100%;
        &:nth-child(n + 2) {
          margin-left: 1rem;
        }
      }
    }
  }
}
