<video #video src="../../../assets/video/forest.mp4" type="video/mp4" (canplay)="video.play()"
  (loadedmetadata)="video.muted = true" loop>
</video>
<div class="container-full">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form form-login">
    <h1>User Login</h1>
    <div class="form-control">
      <input name="email" type="email" formControlName="email" placeholder="Email" />
      <div *ngIf="email && (email.invalid  || email.dirty) && displayError.email">
        <small *ngIf="email.errors?.required" class="text-danger">
          Email is required.
        </small>
        <small *ngIf="email.errors?.pattern" class="text-danger">
          Please provide a valid email address.
        </small>
      </div>
    </div>

    <div class="form-control">
      <input name="password" type="password" formControlName="password" placeholder="Password" />
      <div *ngIf="password && (password.invalid || password.dirty) && displayError.password">
        <small *ngIf="password.errors?.required">
          Password is required
        </small>
      </div>
    </div>

    <div class="align-center">
      <button type="submit" class="btn btn-success btn-login">Login</button>
    </div>
    <a [routerLink]="['/signup']">Create your account</a>
  </form>
</div>