.btn {
  display: inline-block;
  font-weight: 500;
  color: $white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0 16px;
  font-size: 16px;
  min-width: 64px;
  line-height: 36px;
  border-radius: $border-radius;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    text-decoration: none;
  }
}

.btn-login {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  border-radius: 0;
  line-height: 1.5;
  position: relative;
  background-color: rgba($green-2, 0.8) !important;
  color: $green-6;

  &:hover {
    background-color: $green-2 !important;
  }

  &:before, &:after {
    position: absolute;
    content: "";
    top: -3px;
    left: -3px;
    width: 0;
    height: 0;
    background: transparent;
    border: 3px solid transparent;
  }

  &:hover:before {
    animation: animateBeforeBorders 1s linear forwards;
  }

  &:hover:after {
    animation: animateAfterBorders 1s linear forwards;
  }

  &:hover:before, &:hover:after {
    animation-delay: 0.2s;
  }
}

.buttons {
  .btn:not(.btn:nth-child(1)) {
    margin-left: 1rem;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value);
  }
}

@keyframes animateBeforeBorders {
  0% {
    width: 0;
    height: 0;
    border-top-color: $animationBorderColor;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: $animationBorderColor;
    border-right-color: $animationBorderColor;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: $animationBorderColor;
    border-right-color: $animationBorderColor;
  }
}

@keyframes animateAfterBorders {
  0% {
    width: 0;
    height: 0;
    border-bottom-color: $animationBorderColor;
  }
  50% {
    width: 0;
    height: 100%;
    border-bottom-color: $animationBorderColor;
    border-left-color: $animationBorderColor;
  }
  100% {
    width: 100%;
    height: 100%;
    border-bottom-color: $animationBorderColor;
    border-left-color: $animationBorderColor;
  }
}
