.card {
  border-radius: $card-radius;
  box-shadow: 0 0 6px $gray-400;
  i {
    margin-right: 5px;
  }

  .card-header {
    h6 {
      margin: 0;
      margin-right: 20px;
      letter-spacing: 1.5px;
    }
    padding: 1rem;
    padding-top: 1.3rem;
    border-radius: $card-radius $card-radius 0 0;
    background-color: $green-1;
  }

  .card-body {
    padding: 1rem 1rem 0 1rem;
  }

  .card-footer {
    border-top: 1px solid $gray-200;
    background-color: $gray-100;
    color: $gray-800;
    padding: 0.2rem 1rem 0.5rem 1rem;
    text-align: right;
  }

  .card-header,
  .card-footer {
    flex-wrap: wrap;
    @include flex(space-between);
  }

  .card-links {
    font-size: 0.8rem;
    a {
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        color: darken($color: $blue, $amount: 20);
        text-decoration: underline;
      }
    }
  }
}

@include media("sm") {
  .card-header,
  .card-body,
  .card-footer {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
