nav {
  height: auto;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 6px $gray-800;
  border-top: 5px solid $green-3;
  padding: 1.5rem 0.5rem;

  #logo {
    @include flex;
    margin-bottom: 0.2rem;
  }

  #nav-links {
    @include flex();
    flex-wrap: wrap;
    .nav-link {
      margin: 0.3rem 0.5rem 0.3rem 0.5rem;
      cursor: pointer;
      display: block;
      color: $black;
      transition: 300ms color;
      &:hover {
        color: $green-5;
      }
      &.active {
        border-bottom: 2px solid $green-3;
      }
    }
  }

  .dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $gray-100;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: $gray-200;
    cursor: pointer;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@include media("md") {
  nav {
    @include flex(space-around);
  }
}
