.container-full {
  height: 100vh;
  width: 100%;
  @include flex();
}

.bg-forest {
  background-image: url("../images/forest.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-title {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 5px;
  margin: 2rem 0;
}

.text-center {
  text-align: center;
}
